.about {
  .full-page;

  .triangle {
    width: 0;
    height: 0;
    border-style: solid solid solid solid;
    border-width: 160px 0px 0px 100vw;
    border-color: white transparent transparent transparent;
  }

  .header {
    position: relative;
  }

  .upright {
    position: absolute;
    top: 61px;
    left: 22px;
  }
  .upside-down {
    position: absolute;
    top: 56px;
    right: 17px;
    color: @black;
  }

}

.about1 {
  h2 {
    position: absolute;
  }
  p {.padding;}
}

.about2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 20px;
  p {padding-top: 30px;}
  .tech p {padding-bottom: 0;}
}

.about-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-bottom {
  .white;
  .flex {
    p, h2 {
      color: @black;
    }
    h2 {
      padding-right: 40px;
    }
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-top, .about-bottom {
  padding: 40px;
  height: calc(~"50% - 100px");
  flex: 1 0 40vh;
}

@media (min-width: 414px) {
  .about1 p {padding-top: 55px;}
}

@media (min-width: 500px) {
  .about2 p {
    padding-top: 20px;
  }
}

@media (min-width: 502px) {
  .about2 {
    padding: 40px;
  }
  .about1 p {
    padding: 40px;
    padding-top: 55px;
  }
  .about .triangle {border-width: 200px 0px 0px 100vw;}
  .about .upright {
    top: 65px;
    left: 46px;
  }
  .about .upside-down {
    top: 85px;
    right: 30px;
  }
}

@media (min-width: 700px) {
  .about1 p {
    padding-top: 120px;
  }
}

@media (min-width: 1000px) {
  .about { min-height: 640px; }
  .about .triangle {border-color: @yellow transparent transparent transparent;}
  .about .upside-down {color: white;}
  .list {
    display: flex;
    flex-wrap: wrap;
    p {padding-right: 20px;}
  }
}

@media (min-width: 1400px) {
  .about .triangle {border-width: 200px 0px 0px 1400px;}
}
