.automaton {

  color: white;
  h4 {
    text-align: right;
  }
  .relative {
    max-width: 800px;
    margin: 0 auto 40px auto;
  }
  .name-box {
    padding: 10px;
    left: auto;
    top: 30px;
  }
  .webpage {
    max-width: 800px;
    margin: 38px auto;
  }
  .white {
    color: @black;
    .padding {padding-bottom: 10px;}
  }
  .padding:nth-child(4) {padding-top: 0;}
  .favorites {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .favorites-img {
      width: calc(~"50% - 5px");
      margin-top: 10px;
    }
    img {width: 100%;}
  }
  .favorites:nth-child(2) {margin-top: 30px;}

}

@media (min-width: 412px) {
  .automaton {
    .relative {margin-bottom: 60px;}
    .webpage {margin: 60px auto;}
    .favorites:nth-child(2) {margin-top: 60px;}
    .padding {padding-top: 60px; padding-bottom: 60px;}
  }
}

@media (min-width: 1000px) {
  .automaton {
    .favorites .favorites-img {width: calc(~"33% - 5px")};
  }
}
