.case-studies {
  .full-page;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  .anchor {
    position: relative;
    width: 0px;
  }
  .title {
    position: absolute;
    top: 50%;
    right: -230px;
    width: 500px;
    text-align: center;
  }
  .rotated {
    transform: rotate(90deg);
  }
  .padding;
}
.mitch-kitaj-container {
  flex-grow: 1;
  max-height: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a { height: 50%; }
}
.mitch, .kitaj {
  position: relative;
  max-height: calc(~"100% - 20px");
  height: 100%;
}
.kitaj {
  width: 88%;
}
.img-top {
  position: absolute;
  top: 0;
}
.img-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}

.name-box {
  .black;
  padding: 10px 12px 10px 0;
  position: absolute;
  left: 0;
}
.kitaj .name-box {
  right: 0;
  left: auto;
  padding: 10px 0 10px 12px;
  bottom: 0;
}
.mitch .name-box {
  top: 0;
}

@media (min-width: 700px) {
  .case-studies {
    padding: 60px 30px 0 60px;
  }
}

@media (min-width: 1000px) {
  .case-studies {
    min-height: 640px;
    .title {
      top: auto;
      bottom: 280px;
      right: -190px;
      text-align: right;
    }
  }
  .mitch-kitaj-container {
    max-width: calc(~"100% - 200px");
  }
  .mitch {
    width: 700px;
    .name-box {
      left: 450px;
      padding: 0 20px 20px 20px;
    }
  }
  .kitaj {
    width: 700px;
    align-self: flex-end;
    .name-box {
      right: auto;
      left: -20px;
      bottom: 60px;
      padding: 20px 20px 0 20px;
    }
  }
}
