.back-X {
  color: @yellow;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.white-triangle-up {
  width: 0;
  height: 0;
  border-style: solid solid solid solid;
  border-width: 0px 0px 16vw 100vw;
  border-color: transparent transparent white transparent;
}
.white-triangle-down {
  width: 0;
  height: 0;
  border-style: solid solid solid solid;
  border-width: 16vw 0px 0px 100vw;
  border-color: white transparent transparent transparent;
}
.white-triangle-left {
  .white-triangle-down;
  transform: rotate(180deg);
  margin-bottom: -1px;
}
.white-triangle-right {
  .white-triangle-up;
  transform: rotate(180deg);
  margin-top: -1px;
}

.case-study {
  display: flex;
  flex-direction: column;
  align-items: stretch;

.header {
    position: relative;
    max-height: calc(~"100% - 20px");
    height: 100%;
    min-height: 63vw;
    margin-bottom: 50px;
    min-width: 280px;
  }
  .header-kitaj {
    min-height: 75vw;
  }
  .header img {
    max-width: 100%;
    max-height: 100%;
  }
  .name-box {
    .black-2;
    padding: 10px 12px 10px 0;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.z2 {
  z-index: 2;
}
.screen-up {
  padding-bottom: 10vw;
  margin-top: -33vw;
  z-index: 2;
}
.screen-down {
  padding-top: 10vw;
  margin-bottom: -33vw;
  z-index: 2;
}
.screen-up-padding {
  padding-bottom: calc(~"10vw + 60px");
}
.screen-down-padding {
  padding-top: calc(~"10vw + 60px");
}
.max-width-1020 {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.max-width-text {
  max-width: 920px;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-up-desktop {
  padding-bottom: 100px;
  margin-top: -330px;
  z-index: 2;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.screen-down-desktop {
  padding-top: 100px;
  margin-bottom: -330px;
  z-index: 2;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.screen-up-padding-desktop {
  padding-bottom: 160px;
  // margin-bottom: 160px;
}
.screen-down-padding-desktop {
  padding-top: 160px;
  // margin-bottom: 160px;
}

.two-imgs {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  .img-container {
    flex-grow: 1;
  }
  .spacer-div {
    max-width: 20px;
    min-width: 20px;
  }
}
.mitch-two-imgs {
  height: calc(~"36vw - 30px");
}
.kitaj-two-imgs {
  height: calc(~"50vw - 30px");
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 700px) {
  .kitaj-two-imgs {
    height: calc(~"50vw - 60px");
    max-height: 490px;
  }
  .mitch-two-imgs {
    height: calc(~"36vw - 60px");
    max-height: 336px;
  }
  .two-imgs {
    margin: 40px auto;
    .spacer-div {
      max-width: 40px;
      min-width: 40px;
    }
  }
}

@media (min-width: 1000px) {
  .case-study {
    .name-box {
      left: 450px;
      padding: 0 20px 20px 20px;
    }
    .box-kitaj {left: 397px;}
    .header {
      width: 700px;
      min-height: 525px;
    }
  }
  .two-imgs {
    // padding: 0 40px;
    // max-width: 1100px;
  }
}
