
@spacing1: 20px;
@spacing2: 20px;
.contact {
  .full-page;
  padding: @spacing2;
  display: flex;
  flex-direction: column;
  .title {
    align-self: flex-end;
    margin-bottom: @spacing2;
  }
}
.name-email-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: stretch;
}
.name {
  flex-grow: 1;
  margin: 0 0 @spacing1 0;
  padding: 10px @spacing2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.email {
  flex-grow: 1;
  padding: 10px @spacing2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.message {
  position: relative;
  margin-top: @spacing1;
  flex-grow: 15;
  padding: @spacing2;
}
.submit-message {
  position: absolute;
  top: 22px;
  right: 20px;
  color: @pink;
  background-color: @black;
  padding: 0 0 10px 20px;
  z-index: 2;
}
.send-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid solid solid solid;
  border-width: 0 0px 121px 285px;
  border-color: transparent transparent @yellow transparent;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.contact .message {
    h2:hover, h3:hover {
    color: @pink;
  }
  h2, h3 {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
  }
}

input, textarea {
  background-color: transparent;
  width: 100%;
  color: white;
  padding: 0 10px;
}
input {text-align: center;}
input, .underline  {
  border-bottom: 3px solid white;
  border-radius: 0;
}
.underline {
  height: 35px;
}
textarea, .underlines-container {
  height: 140px;
  width: calc(~"100vw - 80px");
  position: absolute;
  top: 50px;
  left: 20px;
}
.underlines-container {
  top: 45px;
}
textarea {
  z-index: 2;
  line-height: 35px;
  resize: none;
}


@media (min-width: 350px) {

  textarea, .underlines-container {
    height: 200px;
  }
  textarea {
    line-height: 50px;
  }
  .underlines-container {
    top: 40px;
  }
  .underline {
    height: 50px;
  }

}

@media (min-width: 700px) {
  @spacing1: 20px;
  @spacing2: 30px;

  .contact {
    padding: 40px;
    .title {
      margin-bottom: @spacing2;
    }
  }
  .name-email-container {
    flex-direction: row;
  }
  .name {
    margin: 0 @spacing2 0 0;
  }
  .email, .name {
    padding: 10px @spacing2;
  }
  .message {
    margin-top: @spacing2;
    padding: 60px @spacing2 0 @spacing2;
    flex-grow: 8;
  }
  textarea, .underlines-container {
    width: calc(~"100vw - 140px");
    height: 280px;
    top: 90px;
    left: 30px;
  }
  textarea {
    line-height: 70px;
    padding-top: 13px;
  }
  .underline {
    height: 70px;
  }
  .send-triangle {
    border-width: 0 0px 188px 393px;
  }
  .submit-message {
    top: 60px;
    right: 30px;
  }

}

.contact-form {
  display: flex;
  flex-grow: 1;
}

@media (min-width: 1000px) {
  @spacing2: 40px;
  .contact {
    min-height: 640px;
    padding: @spacing2;
  }
  .name-email-container {
    flex-direction: column;
    margin-right: @spacing2;
  }
  .message {
    margin-top: 0;
    flex-grow: 10;
  }
  .name {
    margin: 0 0 @spacing2 0;
  }
  .name, .email {
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .underlines-container, textarea {
    width: calc(~"100% - 80px");
    height: 380px;
    top: 110px;
    left: 40px;
  }
  .contact textarea {
    line-height: 95px;
    padding-top: 23px;
  }
  .underline {
    height: 95px;
    border-bottom: 4px solid white;
  }
  input {
    border-bottom: 4px solid white;
  }
  .send-triangle {
    border-width: 0 0px 253px 580px;
  }
  .submit-message {
    top: 62px;
    right: 40px;
  }
}
