.menu {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  .anchor {
    position: relative;
    width: 5px;
    height: 5px;
    align-self: flex-end;
  }
  .choose {
    display: flex;
    position: absolute;
    transform: rotate(90deg);
    flex-direction: column;
    align-items: flex-end;
    right: -107px;
    bottom: 139px;
    h2:nth-child(1) {margin-right: 134px;}
  }

  ul { padding: 30px 20px;}
  li:hover{ color: @pink;}


}


@media (min-width: 360px) {
  .menu {
    min-height: 640px;
    .choose h2:nth-child(1) {margin-right: 148px;}
    .choose {
      right: -123px;
      bottom: 169px;
    }
  }
}

@media (min-width: 414px) {
  .menu {
    .choose h2:nth-child(1) {margin-right: 178px;}
    .choose {
      right: -142px;
      bottom: 191px;
    }
  }
}

@media (min-width: 472px) {
  .menu {
    .choose h2:nth-child(1) {margin-right: 194px;}
    .choose {
      right: -162px;
      bottom: 207px;
    }
  }
}


@media (min-width: 700px) {
  .menu ul {padding: 40px;}
  .menu .choose {
    right: -151px;
    bottom: 220px;
  }
}

@media (min-width: 1000px) {
  .menu {
    li { margin-right: 60px; }
    ul { padding: 40px; }
  }
}

// @media (min-width: 1100px) {
//   .menu {
//     .choose {
//       left: -440px;
//       bottom: calc(~"100vh - 403px");
//     }
//     .choose h2:nth-child(1) {margin-right: 220px;}
//   }
// }
