@import "reset.less";
@import "typography.less";
@import "home-desktop.less";

@import "home.less";
@import "case-study.less";
@import "automaton.less";
@import "contact.less";
@import "case-studies.less";
@import "menu.less";
@import "about.less";
@import "experiments.less";


@yellow: #ffc419;
@yellow: #ffb923;
@black: #212121;
@pink: #de4470;
@black2: #0C0C0C;


.yellow { background-color: @yellow; }
.black { background-color: @black; }
.pink { background-color: @pink; }
.white { background-color: white; }
.black-2 { background-color: @black2 }

.full-page {
  min-height: 560px;
  height: 100vh;
}

.flex { display: flex; }

.spacer {
  transition-duration: 500ms;
  cursor: pointer;
}

html, body, .container, .app, .home {
    width: 100%;
    overflow-x: hidden;
}
html {
  background-color: @black;
}

.app {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: @black;
}
.home {
  max-width: 1400px;
}
.side {
  width: calc(~"100vw - 600px");
  min-width: 0;
}

a:hover, li:hover {
  cursor: pointer;
  color: @pink;
}

.padding {
  padding: 30px 20px;
}

.arrow-desktop {
  position: absolute;
  bottom: 65px;
  left: calc(~"50% - 65px");
  width: 130px;
  cursor: pointer;
}

.fade-in-appear {
  opacity: 0;
}
.fade-in-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in 500ms;
}


@media (min-width: 700px) {
  .padding {padding: 40px;}
}

@media (min-width: 1000px) {
  .full-page {
    min-height: 800px;
  }
}
