@font-face {
    font-family: 'poppinsbold';
    src: url('poppins-bold-webfont.woff2') format('woff2'),
         url('poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinslight';
    src: url('poppins-light-webfont.woff2') format('woff2'),
         url('poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsmedium';
    src: url('poppins-medium-webfont.woff2') format('woff2'),
         url('poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('poppins-regular-webfont.woff2') format('woff2'),
         url('poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('poppins-semibold-webfont.woff2') format('woff2'),
         url('poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.app {
  color: @black;
}


  .landing {
    color: white;
  }

  h1, p, input, textarea {
    font-family: 'poppinslight', sans-serif;
  }

  h2, h3, li {
    font-family: 'poppinsbold', sans-serif;
  }

  span, h4 {
    font-family: 'poppinssemibold', sans-serif;
  }

  h5 {
    font-family: 'poppinsmedium', sans-serif;
  }


  h1 {
    font-size: 1.4em;
    line-height: 1.2em;
  }
  h2 {
    font-size: 2.3em;
    letter-spacing: 1px;
  }
  h3, li {
    font-size: 2em;
    letter-spacing: 2px;
  }
  h4 {
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 1.1em;
  }
  p {
    font-size: 1em;
    line-height: 1.8em;
  }
  h5 {
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 1px;
  }

  .case-study {
    h2 {font-size: 1.7em;}
    p {font-size: 0.7em;}
  }

  .white-text {
    color: white;
  }

  .menu {
    li {
      font-size: 2.2em;
      line-height: 1.3em;
    }
  }
  .black {
    h2,p {color: white;}
  }
  .about2 {
    h2 {font-size: 2.1em;}
  }

@media (min-width: 360px) {
  h1 {font-size: 1.6em;}
  .menu {
    li {
    font-size: 2.5em;
    }
    h2 {font-size: 3.3em;}
  }
  p {
    font-size: 1.1em;
    line-height: 2em;
    }
}

@media (min-width: 375px) {
  h2 {font-size: 2.8em;}
}

@media (min-width: 412px) {
  h1 {font-size: 1.8em;}
  .menu {
    li {
    font-size: 2.9em;
    }
    h2 {font-size: 4em;}
  }
  .case-studies, .case-study, .experiments {
    h4 {font-size: 2em;}
  }
  .about2 h2 {
    font-size: 2.6em;
  }
}

@media (min-width: 472px) {
  .menu {
    li {
    font-size: 3.5em;
    }
    h2 {font-size: 4.5em;}
  }
}

@media (min-width: 500px) {
  h1 {font-size: 2em;}
  p {
    font-size: 1.5em;
    line-height: 2em;
    }
}

@media (min-width: 700px) {
  h4 {font-size: 2em;}
  .contact textarea, .contact input {font-size: 1.5em;}
  h2 {font-size: 3.5em;}
  .contact h3 {font-size: 3em;}
  .case-study, .automaton {
    h5 {
      font-size: 1.3em;
      line-height: 1.7em;
      max-width: 800px;
      margin: 0 auto;
    }
    p {
      font-size: 1em;
      max-width: 700px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1000px) {
  .menu li {font-size: 4em;}
  .menu h2 {font-size: 5em;}
  h2 {font-size: 4em;}
  .case-studies h4, .case-study h4, .experiments h4 {font-size: 3.5em;}
  .about p {
    line-height: 2em;
    font-size: 1.2em;
  }
  .about-bottom p {line-height: 1.7em;}
  .case-study, .automaton {
    h5 {
      font-size: 1.5em;
      line-height: 2em;
      max-width: 900px;
    }
    p {
      font-size: 1.3em;
      max-width: 800px;
    }
  }
}
